# vim ft=yaml

os: Visual Studio 2015

environment:
  global:
    OPENBLAS_COMMIT: 2c7392f0
    OPENBLAS_ROOT: c:\opt
    MSYS2_ROOT: c:\msys64

  # Need for mingw-builds discussed at
  # https://github.com/xianyi/OpenBLAS/issues/1503
  # Note spaces instead of %20 in URL, to avoid Windows env var expansion
  matrix:
    - BUILD_BITS: 32
      MINGW_BIN: C:\mingw-w64\i686-6.3.0-posix-dwarf-rt_v5-rev1\mingw32\bin

# init:
#  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

build: false

test_script:
  # Build OpenBLAS, build and install the test file
  - if "%BUILD_BITS%"=="32" (set PLAT=i686) else (set PLAT=x86_64)
  - set VC9_ROOT=C:\Users\appveyor\AppData\Local\Programs\Common\Microsoft\Visual C++ for Python\9.0\VC
  - PATH=%MSYS2_ROOT%\usr\bin;%PATH%
  - PATH=%MINGW_BIN%;%PATH%
  # Remove competing gcc / gfortran
  - pacman -Rs --noconfirm gcc gcc-fortran mingw-w64-%PLAT%-toolchain
  # zip needed for packing archive
  - pacman -Sy --noconfirm zip
  - git submodule update --init --recursive
  - set MSYSTEM=MINGW%BUILD_BITS%
  - set START_DIR=%__CD__%

on_finish:
  # Note the resulting IP:port address, and use in Microsoft Remote Desktop
  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
